<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.afrofx.code.anjesgf">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <permission android:name="android.permission.CALL_PRIVILEGED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".Activities.root.SplashActivity"
            android:label="@string/home_name"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.root.RegisterActivity"/>
        <activity
            android:name=".Activities.vendas.VenderMercadoriaActivity"
             />
        <activity
            android:name=".Activities.home.MolaActivity"
             />
        <activity
            android:name=".Activities.home.MercadoriaActivity"
            >
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.root.LoginActivity"
             />
        <activity android:name=".Activities.root.MainScreenActivity" />
        <activity
            android:name=".Activities.home.DespesasActivity"
             />
        <activity
            android:name=".Activities.relatorios.ReportSaldoContasActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Activities.relatorios.ReportProdutosEmStockActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activities.relatorios.ReportUsuariosRegistadosActivity"
            
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activities.relatorios.ReportUsuarioReceitaActivity"
            
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activities.relatorios.ReportProdutosForaStockActivity"
            
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activities.relatorios.ReportDiarioActivity"
            
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activities.relatorios.ReportClienteDividaActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activities.drawer.AnaliseActivity"
             />
        <activity
            android:name=".Activities.home.VendasActivity"
             />
        <activity
            android:name=".Activities.vendas.MercadoriaVendidaActivity"
             />
        <activity
            android:name=".Activities.home.MinhaBancaActivity"
             />
        <activity
            android:name=".Activities.drawer.DefinitionsActivity"
             />
        <activity
            android:name=".Activities.vendas.MaisVendidosActivity"
             />
        <activity
            android:name=".Activities.drawer.RelatoriosGeradosActivity"
             />
        <activity
            android:name=".Activities.drawer.VisualizadorPDFActivity"
             />
        <activity
            android:name=".Activities.home.RendimentosActivity"
             />
        <activity
            android:name=".Activities.relatorios.ReportClientesRegistadosActivity"
             />
        <activity
            android:name=".Activities.vendas.DividasClienteActivity"
             />
        <activity
            android:name=".Activities.drawer.PersonalizarActivity"
             />
        <activity
            android:name=".Activities.mercadoria.ListaProdutosActivity"
             />
        <activity
            android:name=".Activities.mercadoria.AdicionarProdutosActivity"
             />
        <activity
            android:name=".Activities.mercadoria.FornecedoresActivity"
             />
        <activity
            android:name=".Activities.mercadoria.QuebrasActivity"
             />
        <activity
            android:name=".Activities.relatorios.ReportVendasActivity"
             />

        <service
            android:name=".NotificationHandlers.NotificationService"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="your.app.domain.NotificationService" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <activity
            android:name=".Activities.drawer.BackupActivity"
            android:label="@string/title_activity_backup"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>